.residential{
    margin: auto;
    width: 80vh;
    padding: 10px;
}
.residential button{
    margin: 20px 0;
}
.residential_table{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.residential_opt{
    padding: 20px;
    border: 1px solid;
}